@keyframes error-msg-show-animation {
    100% {
        opacity: 1;
    }
}

.error-msg {
    opacity: 0;
    animation: error-msg-show-animation 1s linear forwards;
}

svg {
    opacity: 0.7;
    transition: all 0.15s linear;
}

svg path {
    color: white;
}

svg:hover {
    opacity: 1;
}